body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img {
    max-width: 50%;
    height: auto;
}

/* heading */
.heading {
    text-align: center;
}

/* score board */
.score-container .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

/* card container */
.card-container .wrapper {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.card-image {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

/* dashboard */
.dashboard .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
  }

.dash-heading {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }